$main-bg : #fff7c2;
$orange : #ffa258;

body {
    background: $main-bg;
}

.userInfo {
    min-height: 250px;
    border-bottom: 1px solid black;
}

.btn-warning {
    background: $orange;
}

div {
    word-wrap: break-word;
}

#avatarImg {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    /* Радиус скругления */
    border: 3px solid black;
    /* Параметры рамки */
    box-shadow: 0 0 7px #666;
    /* Параметры тени */
}


.statItem {
    display: block;
    margin: 0;
    padding: 0;

    p {
        margin: 0;
        
    }
}

.userBio {
    padding-bottom: 20px;
}


.postImg {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
}

.userPost {
    margin-top: 20px;
}